*{
  margin:0;
  padding:0;
}
h1{
  text-align:center;
  margin-left: 240px;
}
#calculator{
  width: 400px;
  height: auto;
    
  background-color: lightblue;
  margin: 40px 20% 0 40%;
  padding: 10px 20px 50px 20px;
  #top{
    padding: 50px 20px 50px 20px;
    text-align:right;
    background-color: lightgray;
  }
  #keys{
    overflow: hidden;
    a{
      background-color: white;
      text-align:center;
      line-height:40px;
      padding: 20px;
      margin-right: 5px;
      margin-bottom: 20px;
      float: left;
        #operator{
            float:right;
            margin-right:0;
        }
      
      
      
    }
    
  }
}
